.Post-Card {
    border: 1px solid gray;
    border-radius:4%;
    margin: 2%;
    padding: 2%;
    .contents {

    }
    .created_at {
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
        color: lightgray;
    }
    .updated_at {

    }
}